 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var{
     border: 0;
     border-top-color: currentcolor;
     border-top-style: none;
     border-top-width: 0px;
     font-size: 100%;
     font-style: inherit;
     font-weight: inherit;
     margin: 0;
     outline: 0;
     padding: 0;
     vertical-align: baseline;
}
.oxi__addons_info_boxes_wrapper{
     display: flex;
     width: 100%;
}
.oxi__addons_info_boxes_main{ 
     width: 100%;
     display: flex;
     flex-direction: column;
     padding: 5px;
     transition: all 0.3s ease;
} 
.oxi__addons_info_boxes_main .oxi__addons_img_heading_desc {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.oxi__addons_info_boxes_main .oxi__icon_image{ 
     width: 100px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
      transition: all 0.3s ease;
} 
.oxi__addons_info_boxes_main .oxi__icon_image_main{
    width: 100%;
    display: flex; 
    padding: 5px;
} 
.oxi__addons_info_boxes_main .oxi__addons_image{
    width: 70px;
    height: 70px;
} 
.oxi__addons_info_boxes_main .oxi__icon_image .oxi__icon { 
     font-size: 70px;
     color: #444;
     margin: 0;
     padding: 10px 0;
} 
.oxi__addons_info_boxes_main .oxi__addons_header { 
     position: relative;
     font-size: 22px;
     color: #666;
     margin: 0;
     padding: 0;
     text-align: center;
} 
.oxi__addons_info_boxes_main .oxi__addons_header::before { 
     content: '';
     position: absolute;   
} 
.oxi__addons_info_boxes_main .oxi__addons_header::after { 
     content: '';
     position: absolute;   
} 
.oxi__addons_info_boxes_main .oxi__addons_details,
.oxi__addons_info_boxes_main .oxi__addons_details *{ 
     font-size: 16px;
     color: #666;
     margin: 0;
     padding: 10px 0;
     text-align: center;
} 
.oxi__addons_info_boxes_main .oxi__addons_button_main { 
    width: 100%;
    text-align: center;
} 
.oxi__addons_info_boxes_main .oxi__addons_button { 
    padding: 7px 20px;
    color: #fff;
    background-color: #666;
    transition: all 0.3s ease;
} 
.oxi__addons_info_boxes_main .oxi__addons_button:hover {  
    color: #fff;
    background-color: #444; 
} 
 