.oxi__button_wrapper{
    display: block;
}
.oxi__button_wrapper .oxi__button{
    background: #1976d2;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
}
.oxi__button_wrapper .oxi__button:hover,
.oxi__button_wrapper .oxi__button:focus{
    background: #1e88e5;
    color: white;
}