 .oxi__addons_price_table_wrapper {
	width: 100%;
	display: flex;
}
.oxi__addons_price_table_wrapper  .oxi__addons_price_table_main {
	width: 100%;
	display: flex;
	justify-content: center;
}
.oxi__addons_price_table_wrapper  .oxi__addons_price_table {
	width: 100%;
}
.oxi__addons_price_table_wrapper  .oxi__addons_main_title_value {
    overflow: hidden;
    position: relative;
	background: #459ce1;
	padding: 15px;
}
.oxi__addons_price_table_wrapper .oxi__addons_main_title_value::after {
	position: absolute;  
	display: flex;
	justify-content: center;
	align-items: center; 
}
.oxi__addons_price_table_wrapper  .oxi__addons_feature_main{
    width: 100%;
    display: flex;
}
.oxi__addons_price_table_wrapper  .oxi__addons_feature_ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.oxi__addons_price_table_wrapper .oxi__addons_feature {
	font-size: 16px;
	text-transform: capitalize;
	color: #666;
	text-align: center;
	padding: 3px 0px;
	border-bottom: 1px solid #f4f4f4;
}
 
.oxi__addons_price_table_wrapper  .oxi__addons_feature:last-child{  
    border-bottom: none;
}
.oxi__addons_price_table_wrapper  .oxi__addons_button_main {
	text-align: center;
}
.oxi__addons_price_table_wrapper .oxi__addons_button {
	padding: 8px 20px;
	background: #4871db;
	border: none;
}
 
.oxi__addons_price_table_wrapper .oxi__addons_title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
 